.services {
    background-color: var(--gray-600);
    padding: 88px 120px 120px 120px;
}

.list-services {
    display: grid;
    justify-content: space-between;
    align-items: center;
    grid-template-columns: repeat(3, 1fr);
    gap: 1.5rem;
}

.card-services {
    display: flex;
    flex-direction: column;
    gap: 1.25rem;
    border: 1px solid var(--gray-400);
    padding: 1.25rem;
    border-radius: 12px;
}